.icon{
    width: 5rem;
    height: 5rem;
    display: inline-block;
    vertical-align: middle;
    margin: .5rem;
}
.icon>img{
    height: 100%;
}
.resourceName{
    display: inline-block;
    width: 4rem;
}
.resourceName,
.count{
    line-height: 3rem;
    vertical-align: middle;
}
button{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    margin: 0 1rem;
    outline: none;
}